[submodule "repositories/stable-diffusion"]
	path = repositories/stable-diffusion
	url = https://github.com/CompVis/stable-diffusion.git
[submodule "repositories/stable-diffusion-stability-ai"]
	path = repositories/stable-diffusion-stability-ai
	url = https://github.com/Stability-AI/stablediffusion.git
[submodule "repositories/taming-transformers"]
	path = repositories/taming-transformers
	url = https://github.com/CompVis/taming-transformers.git
[submodule "repositories/k-diffusion"]
	path = repositories/k-diffusion
	url = https://github.com/crowsonkb/k-diffusion.git
[submodule "repositories/CodeFormer"]
	path = repositories/CodeFormer
	url = https://github.com/sczhou/CodeFormer.git
[submodule "repositories/BLIP"]
	path = repositories/BLIP
	url = https://github.com/salesforce/BLIP.git
